.container

  .row
    .col-md-9
      div
        h2.subheader Wyoming Budget Basics

      p External links to the City of Wyoming:

        ul.disc
          li
            a(href='https://www.wyomingmi.gov') City of Wyoming
          li
            a(href='https://www.wyomingmi.gov/About-Wyoming/City-Departments/Finance') Wyoming Budget Office
          li
            a(href='https://www.wyomingmi.gov/About-Wyoming/City-Departments/Finance/Financial-Reports') Wyoming Financial Reports


      p Annual Budget reports from the City of Wyoming

        ul.disc
          li
            a(href='https://www.wyomingmi.gov/Portals/0/2020%20Budget%20Book%20-%20Final.pdf') 2019-2020
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2019%20Budget%20Book.PDF') 2018-2019
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2018%20Budget%20Book-FINAL.pdf') 2017-2018
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/AnnualBudget2016-2017.pdf') 2016-2017
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/RESOLUTION_25127_FISCAL_YEAR_ENDING_JUNE2016.pdf') 2015-2016
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/AnnualBudget2014-2015.pdf') 2014-2015

      p Annual Financial reports from the City of Wyoming

        ul.disc
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2018CAFR.pdf') 2017-2018
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2017CAFR.pdf') 2016-2017
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2017CityofWyoming-Act%2051Final.pdf?ver=2017-11-15-142337-747') 2016-2017 Act 51 Audit
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2016CAFR.pdf') 2015-2016
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2015CAFR.pdf') 2014-2015
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2014CAFR.pdf') 2013-2014
          li
            a(href='https://www.wyomingmi.gov/Portals/0/Documents/Departments/Financial/2013CAFR.pdf') 2012-2013
  //
     Included JS Files (Uncompressed)
  //
      <script src="javascripts/jquery.js"></script><script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script><script src="javascripts/jquery.foundation.forms.js"></script><script src="javascripts/jquery.foundation.reveal.js"></script><script src="javascripts/jquery.foundation.orbit.js"></script><script src="javascripts/jquery.foundation.navigation.js"></script><script src="javascripts/jquery.foundation.buttons.js"></script><script src="javascripts/jquery.foundation.tabs.js"></script><script src="javascripts/jquery.foundation.tooltips.js"></script><script src="javascripts/jquery.foundation.accordion.js"></script><script src="javascripts/jquery.placeholder.js"></script><script src="javascripts/jquery.foundation.alerts.js"></script><script src="javascripts/jquery.foundation.topbar.js"></script><script src="javascripts/jquery.foundation.joyride.js"></script><script src="javascripts/jquery.foundation.clearing.js"></script><script src="js/jquery.foundation.magellan.js"></script>

  //
     Included JS Files (Compressed)
  script(src='/js/old/jquery.js')
  script(src='/js/old/foundation.min.js')
  //
     Initialize JS Plugins
  script(src='/js/old/app.js')
