section.jumbotron.homesplash
  .container
    h1.main-header.homesplash__head The City of Wyoming Budget
    .row
      .col-sm-12
        p.lead.homesplash__text Learn about the Final FY2020 city budget. How much of the budget is discretionary versus non-discretionary? Where does the money go? Where does the money come from? Answers to these questions and more are now at your fingertips.


section.container
  .row
    .col-sm-4.left-col
      p.lead Open Budget: The City of Wyoming visualizes the city's current and past budget data into accessible charts for the public. Data is published by the city. See previous budgets for the City of Wyoming.



    .col-md-8
      a(href="/final-budget-flow.html")
        h3 Cash Flow
        p Understand the big picture: where money comes from, and where it goes.
        img.img-responsive.thumbnail(src="/images/flow_wyoming.png")

      a(href="/final-budget-tree.html")
        h3 Detailed Breakdown
        p Drill down into detailed spending and revenue data for each department.
        img.img-responsive.thumbnail(src="/images/tree_wyoming.png")
