.container

  .row
    .col-md-9
      div
        h2.subheader Tools and Projects
        p
          | Here are resources that have helped or inspired our work so far. For now,
          a(href='contact.html') send us links
          | . As you explore the list below and see how others are making budgets more accessible, feel free to
          a(href='feedback.html')  suggest features
          |  for Open Budget.
        h3.subheader
          | Budget Visualization Resources
        ul.disc
          li
            a(href='http://www.openspending.org', target='_blank') OpenSpending:
            |  OpenSpending is a free, open and global platform to search, visualise and analyse fiscal data in the public sphere.
          li
            a(href='http://d3js.org/', target='_blank') D3:
            |  D3.js is a JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG, and CSS. D3’s emphasis on web standards gives you the full capabilities of modern browsers without tying yourself to a proprietary framework, combining powerful visualization components and a data-driven approach to DOM manipulation.
          li
            a(href='http://www.peterkrantz.com/2012/data-visualization-tools/', target='_blank') Peter Krantz:
            |  Author of some of the base code used for this budget visualization project.
          li
            a(href='http://vallandingham.me/vis/', target='_blank') Jim Vallandingham:
            |  Author of some of the base code used for this budget visualization project.

        h3.subheader
          | Budget Visualization Examples

        h4.subheader Cities
        ul.disc

          li
            a(href='https://grbudget.citizenlabs.org', target='_blank') Grand Rapids, MI
          li
            a(href='http://www.checkbooknyc.com/', target='_blank') New York City
          li
            a(href='http://www.berlin.de/sen/finanzen/haushalt/haushaltsplan/artikel.5697.php', target='_blank') Berlin
