.container
  .row
    .col-md-9
      div
        h2.subheader Who we are
        p
        |Open Budget: Wyoming is a project of Citizen Labs and the result of many contributors including coders, community advocates, and city officials. We're looking for ideas on ways that we can contribute to the Wyoming community. If this sounds interesting and you would like to get involved
        a(href='feedback.html')  please contact us.
        h4.subheader Citizen Labs Team:
        ul.list-unstyled
          li Allen Clark
          li Jace Browning
          li Joel Anderson
        h4.subheader City of Wyoming Partners:
        ul.list-unstyled
          li Megan Sall, Assistant City Manager
          li Jennifer Stowell, Administrative Assistant - City Manager
          li Pat Firestone, Director of Information Technology
          li Paul G. Smith, Analytics Project Specialist,
          li Paul Gerndt, Information Systems Supervisor
          li Rosa Ooms, Finance Director
          li Marissa Postler, 2nd Ward Council Member
        h4.subheader Original Code Contributors:
        ul.list-unstyled
          li Ian MacFarland and the rest of the
            a(href='http://codeforoakland.org/', target='_blank')  Code for Oakland
            |  crew...
          li
          a(href='http://codeforsacramento.org/', target='_blank') Code for Sacramento
